


div.company > p{
	font-size: 18px;
	text-align: center;
	border: 2px solid #b2b2b2;
	margin:0px;
	padding: 10px;
}

div.company > div.content{
	height: 250px;
	width: 100%;
	
	position:relative;
	z-index:1;
	border-bottom:2px solid #c9c9c9;
	overflow:hidden;
}

div.company > div.content ul li{
	list-style:none;
	float:left;
	border:1px solid #c9c9c9;
}

div.company > div.content ul li img{
	width:218px;
	height:100%;
	
	
}

div.company > div.content > #left{
	position: absolute;
	top:50%;
	left: 15px;
}

div.company > div.content > #right{
	position: absolute;
	top:50%;
	right:55px;
	
}

 div.information{
	margin-top:10px;
	font-size: 11px;
	background-color: #0098f7;
}

div.information > div.content {
	background-color: #0098f7;
}


div.information > div.content > ul {
	width:100%;
	display: flex;
}

div.information > div.content > ul > li{
	list-style:none;
	flex: 1;
}

div.information > div.content > ul p{
	margin-bottom:5px;
	font-size: 14px;

}

div.information > div.content > ul > li{
	float:left;
}

div.information > div.content > ul ul{
	margin-left:20px;
	list-style:none;
}

div.information > div.content > ul ul a{
	margin-left:20px;
	color: blue;
}

.band{
	margin-left:42%;
	margin-top:10px;
	margin-bottom: 5px;
}
.band img{
	width: 150px;
	height: 80px;
}

div.information > div.company_address{
	background-color:white;
	height:120px;
}


