@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);



.content{
	background-color:unset;
	
}

div.product{
		border: 2px solid #d8d8d8;
		position:relative;
		
}



div.product > .left{
	float: left;
}


div.product > .left > img{
	width: 500px;
	height: 300px;
	display: block;
	margin: 5px;
	border: 1px solid rgb(79, 78, 78, 0.2);
}

div.product > .left > .product_amount{
	position: relative;
	margin-left: 10px;
	width: 50px;
	height: 20px;
	background-color:rgb(0, 86, 224,0.8);
}

div.product > .left > .contain_rating{
	position: relative;
	height: 30px;
	margin-left: 10px;
}

div.product > .left > .contain_rating  .avg_rating{
	color: #ff1500;
}


div.product > .right{
	display: inline-block;
	float:left;
	margin-left: 10px;
	width:375px;
	zoom: 115%;
}

div.product > .right > .detail_product{
	padding:0;
	margin: 0;
	display:inline-block;
}

div.product > .right > div.review_audio{
	margin-top:10px;
	position:relative;
	width: 150px;
}

div.product > .right > div.review_audio > .audio{
	
}


div.product > .right > div.review_audio > img{
	position: absolute;
	width: 35px;
	height: 35px;
	top: -10px;
	right: 0;
}

div.product > .right > .price {
	text-decoration: line-through;
	color: #333333;
	font-size:16px;
	display:inline;
}

div.product > .right >  .sell{
	color:#3866ff;
	font-size: 20px;
}

div.product .basket{
	position: absolute;
	background-color: #ccdbe8;
	border-radius: 20px;
	padding:8px;
	border: 1px solid;
	right: 10px;
	bottom: 10px;
}


.rating { 
  border: none;
  float: left;
  padding:0px;
}


.rating > input { display: none; } 
.rating > label:before { 
  margin: 3px;
  font-size: 12px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


.new_wrapper_content{
	width: 1000px;
	margin: 0 auto;
}