<!DOCTYPE html>
<html>
<head>
<title>Hear World - Contact Us</title>


<link href='/css/contact.css' rel='stylesheet' type ="text/css">
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
		function fnB(){
			location.href="/contact";
		}
</script>



<body>
<footer><img src = "img/logo.png"> 
<p><Strong>name:</Strong> <%=username%> / <a href="/logout"> ออกจากระบบ</a></p>
</footer>
<center>
<p2><table border = 0 width = 600px>
<tr><th style = "background-color: green;text-align: center"><a href="/main">หน้าหลัก</a></th>
<th style = "background-color: blue;text-align: center"><a href="/category">หมวดหมู่</a></th>
<th style = "background-color: green;text-align: center"><a href="/upload">อัพโหลดไฟล์เสียง</th>
<th style = "background-color: blue;text-align: center"><a href="/contact">ติดต่อเรา</a></th></tr>
</table></p2><br><br><br>
<gg>ติดต่อพวกเรา<gg><br>
	
<gg style="font-size:26px"> หากมีข้อสงสัยเกี่ยวกับการใช้งานหรือใช้งานระบบไม่ได้สามารถติดต่อได้ที่</gg><br>
<p1>
<table style = "width: 25%; text-align: center">
<tr><th>ช่องทางการติดต่อ</th><th>เวลาทำการ</th><th>โทรศัพท์</th></tr>
<tr><td style = "color: gray">example@hotmmail.com</td><td style = "color: gray">8.00 - 16.30 น.</td><td style = "color: gray">xxx-xxxxxxx</td></tr>
</table></p1><br><br>
<form method = "POST" action = "/contact"><p1>
<table style = "width: 25%">
<%if(msg===true){%>
<center>
<p style = "color:green; font-size:24px"> we got your post! thank you. </p>
</center>
<%}%>
<tr><th>หัวข้อเรื่อง</th><td><input type = "text" class = "textMss" name = "topic" size = "30" value = "" ></td></tr>
<tr><th>รายละเอียด</th><td></td></tr>
<tr><th></th><td><textarea name = "content" class = "textSub" rows = "5" cols = "33"></textarea></td></tr>
</table><br><br><br>
<input style = "color:blue" class = "textSub" type = "submit" value = "ติดต่อ" /><lay3></lay3>
<button style = "color: red;font-size: 30px;font-family:JasmineUPC;" type = "button" onClick="JavaScript:fnB();"> ยกเลิก </button>
</p1></form><br><br><br>
</center>
</body>
</head>
</html>