<!DOCTYPE html>
<html>
<head>
<title>Hear World - Main</title>


<link href='/css/main.css' rel='stylesheet' type ="text/css">
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>

<body>
<footer><img src = "img/logo.png"> 
<p><Strong>name:</Strong> <%=username%> / <a href="/logout"> ออกจากระบบ</a></p>
</footer>
<center>
<p2><table border = 0 width = 600px>
<tr><th style = "background-color: green;text-align: center"><a href="/main">หน้าหลัก</a></th>
<th style = "background-color: blue;text-align: center"><a href="/category">หมวดหมู่</a></th>
<th style = "background-color: green;text-align: center"><a href="/upload">อัพโหลดไฟล์เสียง</th>
<th style = "background-color: blue;text-align: center"><a href="/contact">ติดต่อเรา</a></th></tr>
</table></p2><br>
</center>
<dd><h1>Popular record</h1><br>
<lay></lay><p3>รายการของไฟล์เสียงบันทึกที่ได้รับการดาวโหลดมากที่สุด คุณสามารถเลือกได้จากรายการที่แสดงด้านล่าง โดยแบ่งออกเป็น 3 ประเภท ได้แก่ วิชาการ สารคดี และบันเทิง</p3>
<br>
<p3><br><br><br>
<center>
<table>
	<tr><th style = "text-align: center">วิชาการ</th><th style = "text-align: center">สารคดี</th><th style = "text-align: center">บันเทิง</th></tr>
	<tr><td><form>
<select name = "category" class = "textFile"> 
<option value = "science">วิทยาศาสตร์</option>
<option value = "math">คณิตศาสตร์</option>
<option value = "english">ภาษาอังกฤษ</option>
</select>
</form></td><td></td><td></td></tr>
<tr><td>วิทยาศาสตร์  : ของใหล</td><td>สารคดี : การออกล่าของเสือ</td><td>นิทาน : กระต่ายกับเต่า</td></tr>
<tr><td><p4>เล่น</p4><lay3></lay3><p4>ดาวน์โหลด</p4></td><td><p4>เล่น</p4><lay3></lay3><p4>ดาวน์โหลด</p4></td><td><p4>เล่น</p4><lay3></lay3><p4>ดาวน์โหลด</p4></td></tr>
<tr><td>วิทยาศาสตร์  : อนุภาคนิวเคลียร์</td><td>สารคดี : หากโลกหยุดหมุน</td><td>นิทาน : ทอร์ เทพเจ้าสายฟ้า</td></tr>
<tr><td><p4>เล่น</p4><lay3></lay3><p4>ดาวน์โหลด</p4></td><td><p4>เล่น</p4><lay3></lay3><p4>ดาวน์โหลด</p4></td><td><p4>เล่น</p4><lay3></lay3><p4>ดาวน์โหลด</p4></td></tr>
</table>
</center>
</p3><br><br><br>
</body>
</html>
</head>