<!DOCTYPE html>
<html>
<head>
<title>Hear World - Forget Password</title>
<link href='/css/retryPassword.css' rel='stylesheet' type ="text/css">
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
		function fnB(){
			location.href="/";
		}
</script>
<center>

<body>
	<br>
	<footer>
	<img src = "img/logo.png">
	</footer>
	<%if(sendCheck===true){%>
		<p style = "color:green; font-size: 22px "> system send your password already. </p>
	<%}%>
	<p style = "font-size: 22px; color:red; align:center" ><%=message%></p>
	<form style = "text-align:center" method="POST" action = "/forgetPassword">
	
	<br>
	<p style = "center-left" >ลืมรหัสผ่าน</p>
	<p2>กรุณากรอกอีเมลของท่าน</p2><br>
	<input type = "email" class = "textMail" size = "30" name = "email" value = ""><br>
	<p2>ระบบจะส่งรหัส่ผ่านไปยังอีเมลที่ระบุ</p2><br>
	<br>
	
		<input style = "color: gray;font-size: 30px;font-family:JasmineUPC;" type = "submit" name = "access" id = "access" value = "ยืนยัน">
		<lay3></lay3>
		<button style = "color: red;font-size: 30px;font-family:JasmineUPC;" type = "button" onClick="JavaScript:fnB();"> ยกเลิก </button>
		
	</form>
</body>

</center>
</head>
</html>