<html>
	
<head>
		<meta http-equiv = "Content-Type" content= "text/html; charset-UTF8"/>
		<title> nfShop :: you be what's your make. </title>
	
</head>
<body>
	<p> Hey I'm chat bot</p>
	<form action = "/chatbot" method="post"><input type = "text" name = "text" id = "text" /><button value = "send">send</button></form>
	 

</body>