<html>
<head>	
	<meta http-equiv = "Content-Type" content= "text/html; charset-UTF8"/>
	<title> nfShop :: you be what's your make. </title>
	<link rel = "stylesheet" type = "text/css" href = "css/chic_girl.css">
	<link rel = "stylesheet" type = "text/css" href = "css/header.css">
	<link rel = "stylesheet" type = "text/css" href = "css/main/slideShow.css">
	<link rel = "stylesheet" type = "text/css" href = "css/main/news.css">
	<link rel = "stylesheet" type = "text/css" href = "css/main/hotdeal.css">
	<link rel = "stylesheet" type = "text/css" href = "css/main/bestSeller.css">
	<link rel = "stylesheet" type = "text/css" href = "css/main/normal.css">
	<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" />
	<link rel = "stylesheet" href = "https://www.w3schools.com/w3css/4/w3.css">
	 <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	
</head>
<body>
  <div class = "document">	
	<div class = "Header"> 
		<div class = "header_top">
			<div class ="new_wrapper">
				<div class = "left_header_top">	
					<ul>
					<li> <a class = "facebook"> <img src= "images/icon/facebook.png" /> </a> </li>
					<li> <a class = "Line"> <img src= "images/icon/line.png" /> @ChicGirl </a> </li>
					<li> <a class = "phone"> <img src= "images/icon/phone.png" style = "width:16px; height:16px;" /> 08x-xxxxxx </a> </li>
					</ul>
				</div>
				<div class = "right_header_top">
		
					<div class = "language">
					<a> TH </a>
					<a> EN </a>
					</div>
		
					<ul>
						<li> <a href=""> login </a>  </li>  
						<li> <span class = "line"> </span> </li>
						<li> <a href=""> สมัครสมาชิก </a>  </li>
						<li> <span class = "line"> </span> </li>						
						<li> <a href=""> ชำระเงิน </a>  </li> 
						
					</ul>
				</div>
			</div>
		</div>
		
		<div class = "header_middle ">
			<div class = "new_wrapper clearfix">
				<div class = "left ">
					 <img class = "logo" src = "" />
				</div>
				
				<div class = "middle">
					<div class = "search_item clearfix "> 
						<form class = "search_form" action = "" target ="" method = "">
							<input type = "text" name = "search" placeholder = "Search...">
							<a class = "search_button" href = "javascript:void(0)"> Search </a>
						</form>
						<a id = "mic" class = "noselect fa fa-microphone" onclick = "startConv()"> </a>
					</div>
					<div class = "catagory">
						<ul>
							<li> <a href =""> I'm yours </a></li>
							<li> <a href ="">too good at good bye </a></li>
							<li style="border:none"> <a href ="">sad song </a></li>
						</ul>
					</div>
				</div>
				
				<div class = "right clearfix">
					<div class = "car">   
						<b > ส่งฟรี   </b> 
						<b style = "display:block; line-height:0px">  เมื่อซื่อสินค้าครบ 3 ชิ้น </b>
					</div>
					
					<div class = "cart">
						<b>ซื้อเลย </b>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class = "header_bottom">
			<div class = "menu_bar new_wrapper_menu">
				<ul class = "menu clearfix">
					<li>
						<div class="list_menu_item ">
							<p> <img src="images/icon/list.png" /> รายการสินค้า  </p>
						</div>
						<div class="sub_menu_item">
							<div><a style = "background:url(../images/icon/face.png) no-repeat;background-position:0px 7px; background-size:30px 30px;"> ผิวหน้า</a> </div>
							<div><a style = "background:url(../images/icon/makeup.png) no-repeat;background-position:0px 4px; background-size:40px 40px;"> เมคอัพ</a> </div>
							<div><a style = "background:url(../images/icon/skin.png) no-repeat;background-position:0px 7px; background-size:30px 30px;"> ผิวกาย </a> </div>
							<div><a style = "background:url(../images/icon/perfume.png) no-repeat;background-position:0px 7px; background-size:30px 30px;"> น้ำหอม</a> </div>
							<div><a style = "background:url(../images/icon/healty.png) no-repeat;background-position:0px 7px; background-size:30px 30px;"> อาหารเสริม</a> </div>
							<div><a style = "background:url(../images/icon/bush.png) no-repeat;background-position:0px 7px; background-size:30px 30px;">แปรงและอุปกรณ์ </a> </div>
						</div>
					</li>
					<li>
					    <a href = ""> หน้าหลัก </a>
					</li>
					<li>
						<a href = ""> เคาเตอร์แบรนด์ </a>
					</li>
					<li>
						<a href = ""> สินค้าแนะนำจากคนดัง </a>
					</li>
					<li>
						<a href = ""> สินค้ามาไหม่ </a>
					</li>
					<li>
						<a href = ""> รีวิวสินค้า  </a>
					</li>
					<li>
						<a href = ""> </a>
					</li>
				</ul>
			</div>
		</div>
	
	</div>
	
	<div class = "content">
			<div class = "slideShow"> 
				<ul>
					<li> <img class="mySlides" src="images/slideShow/lip-stick.jpg" > </li>
					<li <!--style = "right: -1400px; opacity:100"--><img class="mySlides" src="images/slideShow/rh.png" > </li>
					<li  <!--style = "right:-1400px; opacity:100"--><img class="mySlides" src="images/slideShow/water_proof.jpg"> </li>
				</ul>
				<div class = "back">
				</div>
				<div class = "next">
				</div>
				<div class="w3-left arrow w3-hover-text-khaki " onclick="plusDivs(-1)" style ="top:50%; left:10px;">&#10094;</div>
				<div class="w3-right arrow w3-hover-text-khaki" onclick="plusDivs(1)" style ="top:50%; right:60px;">&#10095;</div>
				<div class = "badge">
				<span class="w3-badge demo w3-border w3-transparent w3-hover-blue" onclick="currentDiv(1)"></span>
				<span class="w3-badge demo w3-border w3-transparent w3-hover-blue" onclick="currentDiv(2)"></span>
				<span class="w3-badge demo w3-border w3-transparent w3-hover-blue" onclick="currentDiv(3)"></span>
				</div>
			</div>
			
			<div class = "news clearfix new_wrapper_content">
				<div class = "new_goods">
					<p style = "text-align:center;">สินค้าไหม่ล่าสุด</p>
					<div> NEW ARRIVAL </div>
					<p> 1-20 มิ.ย. 61 </p>
				</div> 
				<div class = "then_free">
					<div class = "item_free">
					Picture
					</div>
					<p> ช๊อบครบ <span style="font-size:30px; margin:0px;padding:0px;">500</span> ขึ้นไป</p>
					<p style = "font-size:30px;"> รับฟรี !<span style="font-size:18px"> lanuige </span></p>
					<p>วันนี้-20 มิ.ย. 61 </p>
					
				</div>
			</div>
			
		<div class = "new_wrapper_content bestSeller">
			<p> BEST SELLER</p>
			<div class = "content clearfix">
				<div> 
					<img src = "images/bestSeller/goods.png" style = "width:100%; height:100%;">
				</div>
				<div class = "best_seller_detail">
					<p> รายละเอียด </p>
					<p> ราคา </p>
					<div class = "amount">กราฟ</div>
				</div>
				
			</div>
		</div>
		
		<div class = "new_wrapper_content hot_deal">
			<p> HOT DEAL ซื้อด่วน</p>
			<div class = "content clearfix">
				
			</div>
		</div>
		
		<div class = "new_wrapper_content2 product">
			<div class = "content clearfix">
				
			</div>
		</div>
		
	</div>
	
	<div class = "right_bar">
		<div class = "new_wrapper_bar">
			<ul> 
				<li class = "crop" onmouseover="balloonIn(0)" onmouseleave="balloonOut(0)"> <a href = "" style = "background-image:url(images/icon/user.png)"> </a>  <div class = "balloon"> <p> user </p> <span class = "arrow"> </span>  </div>  </li>
				<li class = "crop" onmouseover="balloonIn(1)" onmouseleave="balloonOut(1)"> <a href = "" style = "background-image:url(images/icon/search.png)"> </a>  <div class = "balloon"> <p> search </p> <span class = "arrow"> </span>  </div>  </li>
				<li class = "crop" onmouseover="balloonIn(2)" onmouseleave="balloonOut(2)"> <a href = "" style = "background-image:url(images/icon/cart.png)"> </a> <div class = "balloon"> <p> cart </p> <span class = "arrow"> </span>  </div>  </li>
				<li class = "crop" onmouseover="balloonIn(3)" onmouseleave="balloonOut(3)"> <a href = "" style = "background-image:url(images/icon/calendar.png)"> </a> <div class = "balloon"> <p> schedule </p> <span class = "arrow"> </span>  </div>  </li>
				<li class = "crop" onmouseover="balloonIn(4)" onmouseleave="balloonOut(4)"> <a href = "" style = "background-image:url(images/icon/hearts.png)"> </a> <div class = "balloon"> <p> favarite </p> <span class = "arrow"> </span>  </div>  </li>
				<li class = "crop" onmouseover="balloonIn(5)" onmouseleave="balloonOut(5)"> <a href = "" style = "background-image:url(images/icon/chat.png)"> </a> <div class = "balloon"> <p> chat </p> <span class = "arrow"> </span>  </div>  </li>
			</ul>
		</div>
		
	</div>

   </div>

   <a id = "back_2_top" class = "noselect" > ^ </a>
   <p id = "test" style = "font-size:20px; position:fixed; left:0; top:20px;color:red">ss</p>
</body>

<footer>
<link rel = "stylesheet" type = "text/css" href = "css/footer.css">
<div class = "content">
	<div class = "company">
		<p> บริษัทที่เข้าร่วม</p>
		<div class = "content clearfix">
		
			<span id = "left"> left </span>
			<span id = "right"> right </span>
		</div>
	</div>
	
	<div class = "information">
		<div class = "content new_wrapper_content">
			<ul class = "clearfix">
				<li>
					<ul>
						<p> บริการ </p>
						<li> <a href ="">  ตรวจสอบสถานะสินค้า  </a> </li>
						<li> <a href ="">  ชำระเงิน  </a> </li>
					</ul>
				</li>
				<li>
					<ul>
						<p> ความช่วยเหลือ </p>
						<li> <a href ="">  วิธีการซื้อสินค้า </a> </li>
						<li> <a href ="">  วิธีการชำระเงิน  </a> </li>
						<li> <a href ="">  การตั้งค่าความเป็นส่วนตัว </a> </li>
					</ul>
				</li>
			
				<li>
					<ul>
						<p> certification </p>
						<li> <a href ="">  วิธีการซื้อสินค้า </a> </li>
						<li> <a href ="">  วิธีการชำระเงิน  </a> </li>
						<li> <a href ="">  การตั้งค่าความเป็นส่วนตัว </a> </li>
					</ul>
				</li>
				
				<li>
					<ul>
						<p> เกี่ยวกับบริษัท </p>
						<li> <a href ="">  ประวัติความเป็นมา </a> </li>
						<li> <a href ="">  บุคลากร  </a> </li>
						<li> <a href =""> ผู้ร่วมลงทุน </a> </li>
						<li> <a href =""> พันธกิจ </a> </li>
					</ul>
				</li>
				
			</ul>
		</div>
		<div class = "band"> <img src = "sd"/> รูปแบรนด์</div>
		<div class = "company_address new_wrapper_content2">
			address
		</div>
	</div> 
</div>
	
<a href = "/oauth/facebook"> login facebook </a>
<script type="text/javascript" src="js/hotdeal.js"></script>
<script type="text/javascript" src="js/slideShow.js"></script>
<script type="text/javascript" src="js/chic_girl.js"></script>
<script type="text/javascript" src="js/normal.js"> </script>
<script type="text/javascript" src="js/company.js"></script>
</footer>
