<html>
<head>
	<meta http-equiv= "Content-Type" content="text/html; charset=UTF8">
	<title> nfShop :: you be what's your make.</title>
	<link rel = "stylesheet" type = "text/css" href="css/index.css"> 
	<script type="text/javascript" scr="js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="doc">
		<div class = "Header"> 
			<div class= "header_top"> 
				<div class="clearfix new_wrapper">
					<ul class="clearfix top_left">
						<li class="facebook">  <a href ="#" target="_blank"> <img src = "images/icon/facebook2.png"/> facebook </a></li>
						<li class="Line"> <a href = "http://line.me/ti/p/%40konvy.com"> <img src = ""/> Line </a>  </li>
						<li class="Phone"> <img src = ""/> 08x-xxx-xxxx</li>
					</ul>
					<ul class="clearfix top_right">
						<li> content 1 </li>
						<li class = "seperate"> <span class = "line_vertical"> </span> </li>
						<li> content 2 </li>
						<li class = "seperate"> <span class = "line_vertical"> </span> </li>
						<li> content 3 </li>
					</ul>
				</div>
			</div>
			<div class = "header_middle clearfix new_wrapper">
				<h1 class = "logo">  <a href ="#" target="_blank"> <img src = "" /> </a> </h1>
				<div class = "header_middle_center clearfix">
					<form id="search" action = "/search_item" method="get">
						<input name = "title "type = "text" class = "search_input" placeholder = "ค้นหาสินค้า" onblur= "boxOut(this)" onfocus="boxIn(this)" />
						<a class = "search_button"> ค้นหา</a>
					</form>
				</div>			
			</div>
		</div>
	</div>
</body>
	
</html >