<html>
	<head>
		<meta http-equiv = "Content-Type" content = "text/html; charset-UTF8" />
		<title> nfShop :: you be what's your make. </title>
		<link rel = "stylesheet" type = "text/css" href = "css/chic_girl.css"/>
		<link rel = "stylesheet" type = "text/css" href = "css/header.css"/>
		<link rel = "stylesheet" type = "text/css" href = "css/product/product.css" />
		<link rel = "stylesheet" type = "text/css" href = "css/product/history.css" />
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" />
		<link rel = "stylesheet" href = "https://www.w3schools.com/w3css/4/w3.css">
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	</head>
<body>
	<div class = "document">
			
		<div class = "Header"> 
				<div class = "header_top">
					<div class ="new_wrapper">
						<div class = "left_header_top">	
							<ul>
							<li> <a class = "facebook"> <img src= "images/icon/facebook.png" /> </a> </li>
							<li> <a class = "Line"> <img src= "images/icon/line.png" /> @ChicGirl </a> </li>
							<li> <a class = "phone"> <img src= "images/icon/phone.png" style = "width:16px; height:16px;" /> 08x-xxxxxx </a> </li>
							</ul>
						</div>
						<div class = "right_header_top">
				
							<div class = "language">
							<a> TH </a>
							<a> EN </a>
							</div>
							
							<ul>
								<li> <a class = "login"  onclick= "login()"> เข้าสู่ระบบ </a>  </li>  
								<li> <span class = "line"> </span> </li>
								<li> <a href=""> สมัครสมาชิก </a>  </li>
								<li> <span class = "line"> </span> </li>						
								<li> <a href=""> ชำระเงิน </a>  </li> 	
							</ul>
							<!--<p id ="name"> I'm here </p>
							<a class = "logout" onclick="logout()"> ออกจากระบบ </a>-->
						</div>
					</div>
				</div>
				
				<div class = "header_middle ">
					<div class = "new_wrapper clearfix">
						<div class = "top">
								<img class = "logo" src = "images/chicgirl2.png" />
						</div>
						<div class = "center">
								<img class = "truck" src = "images/icon/delivery_truck.png"/>
								<div class = "search_item clearfix "> 
										<form class = "search_form" action = "" target ="" method = "">
											<input type = "text" name = "search" placeholder = "Search...">
											<a class = "search_button" href = "javascript:void(0)"> Search </a>
										</form>
										<!--<a id = "mic" class = "noselect fa fa-microphone" onclick = "startConv()"> </a> -->
									</div>
									<div class = "catagory">
										<ul>
											<li> <a href =""> มอยส์จูไรเซอร์ </a></li>
											<li> <a href ="">รอบดวงตา </a></li>
											<li> <a href ="">คอลลาเจน</a></li>
											<li style="border:none"> <a href =""> Sulwhasoo </a></li>
										</ul>
									</div>
						</div>
		
						<div class = "right clearfix">
								<!--	<b style = "display:block; line-height:0px; color: #1e1e1e"> </b> -->
							
								<div class = "cart">
									<a>0</a>
								</div>
							</div>
						
						<!--<div class = "left">
							 <img class = "logo" src = "" />
						</div>
						
						<div class = "middle">
							<div class = "search_item clearfix "> 
								<form class = "search_form" action = "" target ="" method = "">
									<input type = "text" name = "search" placeholder = "Search...">
									<a class = "search_button" href = "javascript:void(0)"> Search </a>
								</form>
								<a id = "mic" class = "noselect fa fa-microphone" onclick = "startConv()"> </a>
							</div>
							<div class = "catagory">
								<ul>
									<li> <a href =""> ชุ่มชื้น </a></li>
									<li> <a href ="">รักษาผิว </a></li>
									<li> <a href ="">อ่อนเยาว์</a></li>
									<li> <a href ="">ผิวไวต่อแสง</a></li>
									<li style="border:none"> <a href =""> ดูแลเส้นผม </a></li>
								</ul>
							</div>
						</div>
						
						<div class = "right clearfix">
							<div class = "car">   
								<b > ส่งฟรี   </b> 
								<b style = "display:block; line-height:0px">  เมื่อซื่อสินค้าครบ 3 ชิ้น </b>
							</div>
							
							<div class = "cart">
								<b>ซื้อเลย </b>
							</div>
						</div>-->
						
					</div>
				</div>
				
				<div class = "header_bottom">
					<div class = "menu_bar new_wrapper_menu">
						<ul class = "menu clearfix">
							<li>
								<div class="list_menu_item ">
									<p> <img src="images/icon/list.png" /> รายการสินค้า  </p>
								</div>
								<div class="sub_menu_item">
									<div><a style = "background:url(../images/icon/face.png) no-repeat;background-position:0px 7px; background-size:30px 30px;"> ผิวหน้า</a> </div>
									<div><a style = "background:url(../images/icon/makeup.png) no-repeat;background-position:0px 4px; background-size:40px 40px;"> เมคอัพ</a> </div>
									<div><a style = "background:url(../images/icon/skin.png) no-repeat;background-position:0px 7px; background-size:30px 30px;"> ผิวกาย </a> </div>
									<div><a style = "background:url(../images/icon/perfume.png) no-repeat;background-position:0px 7px; background-size:30px 30px;"> น้ำหอม</a> </div>
									<div><a style = "background:url(../images/icon/healty.png) no-repeat;background-position:0px 7px; background-size:30px 30px;"> อาหารเสริม</a> </div>
									<div><a style = "background:url(../images/icon/bush.png) no-repeat;background-position:0px 7px; background-size:30px 30px;">แปรงและอุปกรณ์ </a> </div>
								</div>
							</li>
							<li>
								<a href = ""> หน้าหลัก </a>
							</li>
							<li>
								<a href = ""> เคาเตอร์แบรนด์ </a>
							</li>
							<li>
								<a href = ""> สินค้าแนะนำจากคนดัง </a>
							</li>
							<li>
								<a href = ""> สินค้ามาไหม่ </a>
							</li>
							<li>
								<a href = ""> รีวิวสินค้า  </a>
							</li>
							<li>
								<a href = ""> </a>
							</li>
						</ul>
					</div>
				</div>
			
			</div>

	<div class = "right_bar">
		<div class = "new_wrapper_bar">
			<ul> 
				<li class = "crop" onmouseover="balloonIn(0)" onmouseleave="balloonOut(0)"> <a href = "" style = "background-image:url(images/icon/user.png)"> </a>  <div class = "balloon"> <p> user </p> <span class = "arrow"> </span>  </div>  </li>
				<li class = "crop" onmouseover="balloonIn(1)" onmouseleave="balloonOut(1)"> <a href = "" style = "background-image:url(images/icon/search.png)"> </a>  <div class = "balloon"> <p> search </p> <span class = "arrow"> </span>  </div>  </li>
				<li class = "crop" onmouseover="balloonIn(2)" onmouseleave="balloonOut(2)"> <a href = "" style = "background-image:url(images/icon/cart3.png)"> </a> <div class = "balloon"> <p> cart </p> <span class = "arrow"> </span>  </div>  </li>
				<li class = "crop" onmouseover="balloonIn(3)" onmouseleave="balloonOut(3)"> <a href = "" style = "background-image:url(images/icon/calendar.png)"> </a> <div class = "balloon"> <p> schedule </p> <span class = "arrow"> </span>  </div>  </li>
				<li class = "crop" onmouseover="balloonIn(4)" onmouseleave="balloonOut(4)"> <a href = "" style = "background-image:url(images/icon/hearts.png)"> </a> <div class = "balloon"> <p> favarite </p> <span class = "arrow"> </span>  </div>  </li>
				<li class = "crop" onmouseover="balloonIn(5)" onmouseleave="balloonOut(5)"> <a href = "" style = "background-image:url(images/icon/chat.png)"> </a> <div class = "balloon"> <p> chat </p> <span class = "arrow"> </span>  </div>  </li>
			</ul>
		</div>
		
	</div>
		
		<div class = "content">
			<nav class ="nav"> Home > Witty Merry > บำรุงผิว > Witty Merry Orchid Hand & Nail Cream 75g</nav>
			<div class = "product clearfix new_wrapper_content"> 
				<div class = "left">
					<img src="images/fake/product_detail.jpg"/>
					<div class = "contain_rating">
						<fieldset class="rating">
										<input type="radio" id="star5" name="rating" value="5" class="rt" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
										<input type="radio" id="star4half" name="rating" value="4 and a half" class="rt" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
										<input type="radio" id="star4" name="rating" value="4" class="rt" checked/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
										<input type="radio" id="star3half" name="rating" value="3 and a half " class="rt" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
										<input type="radio" id="star3" name="rating" value="3" class="rt"/><label class = "full" for="star3" title="Meh - 3 stars"></label>
										<input type="radio" id="star2half" name="rating" value="2 and a half" class="rt"/><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
										<input type="radio" id="star2" name="rating" value="2" class="rt"/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
										<input type="radio" id="star1half" name="rating" value="1 and a half" class="rt"/><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
										<input type="radio" id="star1" name="rating" value="1" class="rt"/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
										<input type="radio" id="starhalf" name="rating" value="half" class="rt"/><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
						</fieldset>
						<span class = "avg_rating"> 4.00 </span>
					</div>
					<div class = "product_amount"> <div class = "fill_amount">จำนวน </div> </div>
				</div>
				<div class = "right">
					<p> Witty Merry Orchid Hand & Nail Cream </p>
					<div class = "color" > </div>
					<p class ="detail_product"> Witty Merry Orchid Hand & Nail Cream 75g <br> ฝ่ามือหยาบกร้าน เล็บแห้งเปราะ! ดูแลด้วยครีมบำรุงมือและเล็บ <br> ช่วยฟื้นฟูผิวมือที่แห้งกร้านให้กลับมาเนียนนุ่มชุ่มชื้น <br> พร้อมช่วยบำรุงให้เล็บแข็งแรงไม่หักง่าย</p>
					<div class = "review_audio"><a class = "audio">รีวิวเสียงจากผู้ใช้</a><img src = "images/audio.png"> </div>
					<p> ราคา </p>
					<p class = "price">฿200.00 </p> <span class = "sell">฿160.00 </span>
					<div class = "basket"> หยิบใส่ตระกร้า </div>
				</div>
			</div>
			
			<div class = "product_history">
				<p class = "text_history"> สินค้าที่เคยเปิดชม</p>
				<div class = "clearfix history new_wrapper_content">
					
				</div>
				<span id = "left" onclick="scroll_history(-1)"> < </span>
				<span id = "right" onclick="scroll_history(1)"> > </span>
			</div>
			<p id="test"> AUTOMATIC DEPLOY WORK!! </p>
		</div>

	</div>
	<a id = "back_2_top" class = "noselect" > ^ </a>
</body>
<footer>
		<script type="text/javascript" src="js/product.js"></script>
		<script type="text/javascript" src="js/chic_girl.js"></script>
</footer>
</html>