<html>
	<head>
		<meta http-equiv = "Content-Type" content = "text/html; charset-UTF8" />
		<title> nfShop :: you be what's your make. </title>
		<link rel = "stylesheet" type = "text/css" href = "css/chic_girl.css"/>
		<link rel = "stylesheet" type = "text/css" href = "css/header.css"/>
		<link rel = "stylesheet" type = "text/css" href = "css/product/product.css" />
		<link rel = "stylesheet" type = "text/css" href = "css/product/history.css" />
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" />
		<link rel = "stylesheet" href = "https://www.w3schools.com/w3css/4/w3.css">
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	</head>
<body>
	<div class = "document">
			
		<div class = "Header"> 
		<div class = "header_top">
			<div class ="new_wrapper">
				<div class = "left_header_top">	
					<ul>
					<li> <a class = "facebook"> <img src= "images/icon/facebook.png" /> </a> </li>
					<li> <a class = "Line"> <img src= "images/icon/line.png" /> @ChicGirl </a> </li>
					<li> <a class = "phone"> <img src= "images/icon/phone.png" style = "width:16px; height:16px;" /> 08x-xxxxxx </a> </li>
					</ul>
				</div>
				<div class = "right_header_top">
		
					<div class = "language">
					<a> TH </a>
					<a> EN </a>
					</div>
		
					<ul>
						<li> <a href="/oauth/facebook"> login broke </a>  </li>  
						<li> <span class = "line"> </span> </li>
						<li> <a href=""> สมัครสมาชิก </a>  </li>
						<li> <span class = "line"> </span> </li>						
						<li> <a href=""> ชำระเงิน </a>  </li> 
						
					</ul>
				</div>
			</div>
		</div>
		
		<div class = "header_middle ">
			<div class = "new_wrapper clearfix">
				<div class = "left ">
					 <img class = "logo" src = "" />
				</div>
				
				<div class = "middle">
					<div class = "search_item clearfix "> 
						<form class = "search_form" action = "" target ="" method = "">
							<input type = "text" name = "search" placeholder = "Search...">
							<a class = "search_button" href = "javascript:void(0)"> Search </a>
						</form>
						<a id = "mic" class = "noselect fa fa-microphone" onclick = "startConv()"> </a>
					</div>
					<div class = "catagory">
						<ul>
							<li> <a href =""> I'm yours </a></li>
							<li> <a href ="">too good at good bye </a></li>
							<li style="border:none"> <a href ="">sad song </a></li>
						</ul>
					</div>
				</div>
				
				<div class = "right clearfix">
					<div class = "car">   
						<b > ส่งฟรี   </b> 
						<b style = "display:block; line-height:0px">  เมื่อซื่อสินค้าครบ 3 ชิ้น </b>
					</div>
					
					<div class = "cart">
						<b>ซื้อเลย </b>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class = "header_bottom">
			<div class = "menu_bar new_wrapper_menu">
				<ul class = "menu clearfix">
					<li>
						<div class="list_menu_item ">
							<p> <img src="images/icon/list.png" /> รายการสินค้า  </p>
						</div>
						<div class="sub_menu_item">
							<div><a style = "background:url(../images/icon/face.png) no-repeat;background-position:0px 7px; background-size:30px 30px;"> ผิวหน้า</a> </div>
							<div><a style = "background:url(../images/icon/makeup.png) no-repeat;background-position:0px 4px; background-size:40px 40px;"> เมคอัพ</a> </div>
							<div><a style = "background:url(../images/icon/skin.png) no-repeat;background-position:0px 7px; background-size:30px 30px;"> ผิวกาย </a> </div>
							<div><a style = "background:url(../images/icon/perfume.png) no-repeat;background-position:0px 7px; background-size:30px 30px;"> น้ำหอม</a> </div>
							<div><a style = "background:url(../images/icon/healty.png) no-repeat;background-position:0px 7px; background-size:30px 30px;"> อาหารเสริม</a> </div>
							<div><a style = "background:url(../images/icon/bush.png) no-repeat;background-position:0px 7px; background-size:30px 30px;">แปรงและอุปกรณ์ </a> </div>
						</div>
					</li>
					<li>
					    <a href = ""> หน้าหลัก </a>
					</li>
					<li>
						<a href = ""> เคาเตอร์แบรนด์ </a>
					</li>
					<li>
						<a href = ""> สินค้าแนะนำจากคนดัง </a>
					</li>
					<li>
						<a href = ""> สินค้ามาไหม่ </a>
					</li>
					<li>
						<a href = ""> รีวิวสินค้า  </a>
					</li>
					<li>
						<a href = ""> </a>
					</li>
				</ul>
			</div>
		</div>
	
	</div>
		
		<div class = "content">
			<nav class ="nav"> navigate</nav>
			<div class = "product clearfix new_wrapper_content"> 
				<div class = "left">
					<img src=""/>
					<div class = "rating">
						<fieldset class="rating">
										<input type="radio" id="star5" name="rating" value="5" class="rt" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
										<input type="radio" id="star4half" name="rating" value="4 and a half" class="rt" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
										<input type="radio" id="star4" name="rating" value="4" class="rt"/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
										<input type="radio" id="star3half" name="rating" value="3 and a half " class="rt" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
										<input type="radio" id="star3" name="rating" value="3" class="rt"/><label class = "full" for="star3" title="Meh - 3 stars"></label>
										<input type="radio" id="star2half" name="rating" value="2 and a half" class="rt"/><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
										<input type="radio" id="star2" name="rating" value="2" class="rt"/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
										<input type="radio" id="star1half" name="rating" value="1 and a half" class="rt"/><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
										<input type="radio" id="star1" name="rating" value="1" class="rt"/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
										<input type="radio" id="starhalf" name="rating" value="half" class="rt"/><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
									</fieldset>
					</div>
					<div> จำนวน </div>
				</div>
				<div class = "right">
					<p> Product Name </p>
					<div class = "color" > </div>
					<p> detail <p>
					<div class = "review_audio">รีวิวเสียงจากผู้ใช้ </div>
					<p> ราคา </p>
					<p> 0.00 </p>
					<div class = "basket"> หยิบใส่ตระกร้า </div>
				</div>
			</div>
			
			<div class = "product_history">
				<div class = "clearfix history new_wrapper_content">
					
				</div>
				<span id = "left" onclick="scroll_history(-1)"> < </span>
				<span id = "right" onclick="scroll_history(1)"> > </span>
			</div>
			<p id="test"> AUTOMATIC DEPLOY WORK!! </p>
		</div>

	</div>
</body>
<footer>
		<script type="text/javascript" src="js/product.js"></script>
</footer>
</html>