
<html>
        <head>	
                <meta http-equiv = "Content-Type" content= "text/html; charset-UTF8"/>
                <title> Test2 </title>
        </head>
    <body>
            <h1 style = "color:blue;"> NOW YOU TILL LOGIN</h1>
    </body>
</html>